<div class="container aor-card" id="android">
    <div class="container-fluid project-present">
        <div class="row">
            <div class="col-md-4" ng-repeat="obj in androids" ng-class="{isActive: $index == selected }" class="btn btn-default project-option" ng-click="changeProject(obj.name, $index)"><span>{{obj.name}} <img class="img-rounded center-block" ng-src="{{obj.icon}}" style="padding:1% 0% 10% 0%; max-width: 20%; max-height: 20%; cursor: pointer;"></span> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img ng-src="{{dispAndroid}}" class="mainDisp center-block">
        </div>
        <div class="col-md-6" style="position:relative;">
            <div class="row">
                <div style="display: block;">
                    <span class="label label-default" style="font: 100% arial, sans-serif; margin-right:5px; display:inline-block" ng-repeat="tool in androids[currIndex].skills">{{tool}} </span>
                </div>
                <div style="display: block;">
                    <p style="display: inline-block;">DURATION</p>
                    <p style="display: inline-block;"><strong> {{androids[currIndex].start}} to {{androids[currIndex].end}}</strong></p>
                </div>
                <div style="display: block;">
                    <p style="display: inline-block;">DESCRIPTION</p>
                    <p style="display: inline-block;"><strong> {{androids[currIndex].description}} </strong></p>
                </div>
                <div style="display: block;">
                    <p style="display: inline-block;">RESPONSIBILITIES</p>
                    <ul style="display: inline-block;">
                        <li ng-repeat="res in androids[currIndex].responsibilities"><strong>{{res}}</strong></li>
                    </ul>
                </div>
                <ul class="list-inline">
                    <li><a href="{{ androids[currIndex].github }}" target="_blank"><i class="fa fa-github linkIcon fa-2x"></i></a></li>
                    <li><a href="{{ androids[currIndex].link }}" target="_blank"><i class="fa fa-external-link-square linkIcon fa-2x"></i></a></li>
                </ul>
                <div ng-repeat="img in androids[currIndex].images" class="smallDisp">
                    <img ng-src="{{img}}" ng-click="setImage(img, $index)">
                </div>
            </div>
        </div>
    </div>
</div>
